<footer class="footer">
	<div class="footer__top">
		<div class="container-content">
			<div class="footer-grid">
				<div class="footer-grid__item uk-float-left">
					<strong>АСК-Квартал</strong> <br>
					© 2016 Все права защищены
				</div>
				<div class="footer-grid__item uk-float-left">
					<b>+7 (343) 201-74-67</b> <br>
					stroy-invest66@yandex.ru
				</div>
				<div class="footer-grid__item uk-float-right uk-margin-top">
					<b>Дизайн сайта</b> <a href="#"><img src="../img/design.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom"></div>
</footer>
