<header class="header">
	<div class="container-content">
		<div class="uk-flex uk-flex-wrap uk-flex-middle uk-flex-space-between">
		    <div class="logo">
		        <a href="/"><img src="../img/logo.png" alt=""></a>
		    </div>
		    
		    <div class="header__center">
		        <div class="slogan">Строим дома мечты с 2010 года</div>
		    </div>
		    <div class="header__right">
		        <div class="phone">
		            <i class="icon icon_phone"></i>
		            <a href="tel:+7 (343) 201-74-67">+7 (343) 201-74-67</a>
		        </div>
		        <div class="phone-hint">Закажите обратный звонок</div>
		    </div>
		</div>
	</div>
</header>
