<div class="projekt bghomes">
    <div class="projekt__title">
        <div class="container-content">Проекты</div>
    </div>
    <div class="container-content">
        <div class="projekt__list">
            <div class="projekt-item">
                <div class="uk-grid uk-grid-large uk-grid-width-large-1-2 uk-grid-width-medium-1-1">
                    <div class="projekt-item__left">
                        <div class="prokekt-img">
                            <div class="projekt-img__right uk-float-right">
                                <a href="../img/img-projekt.jpg" data-uk-lightbox="{group:'my-group'}"><img src="../img/img-projekt.jpg" alt=""></a>
                                <a href="../img/img-projekt.jpg" data-uk-lightbox="{group:'my-group'}"><img src="../img/img-projekt.jpg" alt=""></a>
                                <a href="../img/img-projekt.jpg" data-uk-lightbox="{group:'my-group'}"><img src="../img/img-projekt.jpg" alt=""></a>
                                <a href="../img/img-projekt.jpg" data-uk-lightbox="{group:'my-group'}"><img src="../img/img-projekt.jpg" alt=""></a>
                            </div>
                            <div class="projekt-img__big">
                                <a href="../img/img-projekt.jpg" data-uk-lightbox="{group:'my-group'}"><img src="../img/img-projekt.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="projekt-item__right">
                        <div class="projekt-item__name">Бюджетный дом</div>
                        <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-small-1-1 uk-margin-large-bottom">
                            <div class="">
                                <div class="projekt-item__char uk-clearfix">
                                    <div class="projekt-item__char-key uk-float-left">Размеры</div>
                                    <div class="projekt-item__char-val uk-float-right">8.28 х 12.18 м</div>
                                </div>
                                <div class="projekt-item__char uk-clearfix">
                                    <div class="projekt-item__char-key uk-float-left">Общая площадь</div>
                                    <div class="projekt-item__char-val uk-float-right">82.00 м<sup>2</sup></div>
                                </div>
                                <div class="projekt-item__char uk-clearfix">
                                    <div class="projekt-item__char-key uk-float-left">Этажи</div>
                                    <div class="projekt-item__char-val uk-float-right">1</div>
                                </div>
                                <div class="projekt-item__char uk-clearfix">
                                    <div class="projekt-item__char-key uk-float-left">Количество спален</div>
                                    <div class="projekt-item__char-val uk-float-right">3</div>
                                </div>
                                <div class="projekt-item__char uk-clearfix">
                                    <div class="projekt-item__char-key uk-float-left">Количество санузлов</div>
                                    <div class="projekt-item__char-val uk-float-right">1</div>
                                </div>
                            </div>
                            <div class="">
                                Маленький и недорогой одноэтажный дом с двускатной крышей. Проект в подарок срок строительства 3 месяца гарантия до 15 лет.
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-small-1-1">
                            <div class="">
                                <div class="projekt-item__price">
                                    Стоимость готового дома
                                    <div class="projekt-item__price-summ">2 000 000 <i class="uk-icon-rouble"></i></div>
                                </div>
                            </div>
                            <div class="">
                                <a href="" class="btn btn_info uk-button uk-button-large">Отправить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="projekt-item">
                <div class="uk-grid uk-grid-large uk-grid-width-large-1-2 uk-grid-width-medium-1-1">
                    <div class="projekt-item__left">
                        <div class="prokekt-img">
                            <div class="projekt-img__right uk-float-right">
                                <a href="../img/img-projekt.jpg" data-uk-lightbox="{group:'my-group'}"><img src="../img/img-projekt.jpg" alt=""></a>
                                <a href="../img/img-projekt.jpg" data-uk-lightbox="{group:'my-group'}"><img src="../img/img-projekt.jpg" alt=""></a>
                                <a href="../img/img-projekt.jpg" data-uk-lightbox="{group:'my-group'}"><img src="../img/img-projekt.jpg" alt=""></a>
                                <a href="../img/img-projekt.jpg" data-uk-lightbox="{group:'my-group'}"><img src="../img/img-projekt.jpg" alt=""></a>
                            </div>
                            <div class="projekt-img__big">
                                <a href="../img/img-projekt.jpg" data-uk-lightbox="{group:'my-group'}"><img src="../img/img-projekt.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="projekt-item__right">
                        <div class="projekt-item__name">Бюджетный дом</div>
                        <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-small-1-1 uk-margin-large-bottom">
                            <div class="">
                                <div class="projekt-item__char uk-clearfix">
                                    <div class="projekt-item__char-key uk-float-left">Размеры</div>
                                    <div class="projekt-item__char-val uk-float-right">8.28 х 12.18 м</div>
                                </div>
                                <div class="projekt-item__char uk-clearfix">
                                    <div class="projekt-item__char-key uk-float-left">Общая площадь</div>
                                    <div class="projekt-item__char-val uk-float-right">82.00 м<sup>2</sup></div>
                                </div>
                                <div class="projekt-item__char uk-clearfix">
                                    <div class="projekt-item__char-key uk-float-left">Этажи</div>
                                    <div class="projekt-item__char-val uk-float-right">1</div>
                                </div>
                                <div class="projekt-item__char uk-clearfix">
                                    <div class="projekt-item__char-key uk-float-left">Количество спален</div>
                                    <div class="projekt-item__char-val uk-float-right">3</div>
                                </div>
                                <div class="projekt-item__char uk-clearfix">
                                    <div class="projekt-item__char-key uk-float-left">Количество санузлов</div>
                                    <div class="projekt-item__char-val uk-float-right">1</div>
                                </div>
                            </div>
                            <div class="">
                                Маленький и недорогой одноэтажный дом с двускатной крышей. Проект в подарок срок строительства 3 месяца гарантия до 15 лет.
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-small-1-1">
                            <div class="">
                                <div class="projekt-item__price">
                                    Стоимость готового дома
                                    <div class="projekt-item__price-summ">2 000 000 <i class="uk-icon-rouble"></i></div>
                                </div>
                            </div>
                            <div class="">
                                <a href="" class="btn btn_info uk-button uk-button-large">Отправить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-text-center">
            <a href="" class="more"><i class="uk-icon-refresh uk-icon-spin"></i> Загрузить ещё</a>
        </div>
    </div>
</div>
