<div class="prokekt bghomes">
    <div class="projekt__title">
        <div class="container-content">Проекты</div>
    </div>
    <div class="container-content">
        <div class="projekt__list">
            <div class="projekt-item">
                <div class="grid grid_1-3">
                    <div class="projekt-item__left">
                        <div class="prokekt-img">
                            <div class="projekt-img__right uk-float-right">
                                
                            </div>
                            <div class="projekt-img__big">
                                <a href=""><img src="../img/img-projekt.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-text-center">
            <a href=""><i class="uk-icon-refresh"></i> Загрузить ещё</a>
        </div>
    </div>
</div>