<div class="slider">
    <div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow">
        <li style="background-image:url('../img/slide.jpg')" class="slider__item">
            
            
               <div class="container-content">
                    <div class="slider__caption-wrap">
                        <div class="slider__caption">
                            <div class="slider__title">Дом по цене квартиры</div>
                            <p>Одноэтажный дом 82 м<sup>2</sup></p>
                        </div>
                        <a href="#" class="btn btn_info uk-button">Узнайте подробности</a>
                    </div>
                </div>
            
            
        </li>
        <li style="background-image:url('../img/slide.jpg')" class="slider__item">
            
            
               <div class="container-content">
                    <div class="slider__caption-wrap">
                        <div class="slider__caption">
                            <div class="slider__title">Слайд 2</div>
                            <p>Одноэтажный дом 82 м<sup>2</sup></p>
                        </div>
                        <a href="#" class="btn btn_info uk-button">Узнайте подробности</a>
                    </div>
                </div>
            
            
        </li>
    </ul>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
    <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
        <li data-uk-slideshow-item="0"><a href=""></a></li>
        <li data-uk-slideshow-item="1"><a href=""></a></li>
    </ul>
</div>
</div>