// LAYOUT
@max-width: 1210px; // Максимальная ширина контента сайта
@left-column-width: 215px; // Ширина левой колонки
@footer-height: 200px; // Высота футера


//PATH
@img: "../img/";// Путь к картинкам фона
@font: "../fonts/";// Путь к шрифтам фона

//COLOR FOR SITE
@col-warning: #e76d19;



//COLOR FOR FONTS

